{# --------------
Some elements of CSS require additional html in order to display background effects.
We use simple "if" statements to show these.
-------------- #}


{# -------------- Open Wrapper -------------- #}
<div class="wrapper">
{{text | safe}}

{# -------------- Particles -------------- #}
{% if config.theme =="particles" %}
<div class="animation-wrapper">
  <div class="particle particle-1"></div>
  <div class="particle particle-2"></div>
  <div class="particle particle-3"></div>
  <div class="particle particle-4"></div>
</div>
{% endif %}
	
	
{# -------------- Fireflies -------------- #}
{% if config.theme =="fireflies" %}
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
{% endif %}
	
	
{# -------------- Rain -------------- #}
{% if config.theme =="rain" %}
<div class="container">

	<div class="rain">
		<div class="drop"></div>
		<div class="waves">
			<div></div>
			<div></div>
		</div>
		<div class="splash"></div>
		<div class="particles">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>

	<div class="rain">
		<div class="drop"></div>
		<div class="waves">
			<div></div>
			<div></div>
		</div>
		<div class="splash"></div>
		<div class="particles">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>

	<div class="rain">
		<div class="drop"></div>
		<div class="waves">
			<div></div>
			<div></div>
		</div>
		<div class="splash"></div>
		<div class="particles">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>

	<div class="rain">
		<div class="drop"></div>
		<div class="waves">
			<div></div>
			<div></div>
		</div>
		<div class="splash"></div>
		<div class="particles">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>

	<div class="rain">
		<div class="drop"></div>
		<div class="waves">
			<div></div>
			<div></div>
		</div>
		<div class="splash"></div>
		<div class="particles">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>

	<div class="rain">
		<div class="drop"></div>
		<div class="waves">
			<div></div>
			<div></div>
		</div>
		<div class="splash"></div>
		<div class="particles">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>

	<div class="rain">
		<div class="drop"></div>
		<div class="waves">
			<div></div>
			<div></div>
		</div>
		<div class="splash"></div>
		<div class="particles">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>

	<div class="rain">
		<div class="drop"></div>
		<div class="waves">
			<div></div>
			<div></div>
		</div>
		<div class="splash"></div>
		<div class="particles">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>

	<div class="rain">
		<div class="drop"></div>
		<div class="waves">
			<div></div>
			<div></div>
		</div>
		<div class="splash"></div>
		<div class="particles">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>

</div>
{% endif %}
	
	
{# -------------- Risingstars -------------- #}
{% if config.theme =="risingstars" %}
<div id='stars'></div><div id='stars2'></div><div id='stars3'></div>
{% endif %}
	
	
{# -------------- Animatedgradient -------------- #}
{% if config.theme =="animatedgradient" %}

{% endif %}
	
	
{# -------------- Sliding Diagonal -------------- #}
{% if config.theme =="slidingdiagonal" %}
<div class="bg"></div><div class="bg bg2"></div><div class="bg bg3"></div>
{% endif %}


	
{# -------------- Lava lamp -------------- #}
{% if config.theme =="lavalamp" %}
<div class="lamp">
    <div class="lava">
      <div class="blob"></div>
      <div class="blob"></div>
      <div class="blob"></div>
      <div class="blob"></div>
      <div class="blob"></div>
      <div class="blob"></div>
      <div class="blob"></div>
      <div class="blob"></div>
      <div class="blob top"></div>
      <div class="blob bottom"></div>
    </div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
  <defs>
    <filter id="goo">
      <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
      <feBlend in="SourceGraphic" in2="goo" />
    </filter>
  </defs>
</svg>
{% endif %}


{# -------------- Rising Cubes -------------- #}
{% if config.theme =="risingcubes" %}
<div class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
{% endif %}


{# -------------- Triangle Travelers -------------- #}
{% if config.theme =="tritravelers" %}
<div class='wrap'>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
  <div class='tri'></div>
</div>
{% endif %}




{# -------------- Bokeh -------------- #}
{% if config.theme =="bokeh" %}
<div class="background">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
{% endif %}




{# -------------- Close Wrapper -------------- #}
</div>

